* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

/* BEGIN Header Section */
.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3a39;
}

.name-logo {
  margin-left: 20px;
  width: 90px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.navlinks {
  width: 0;
  display: none;
}

.menu {
  display: flex;
  align-self: center;
  align-content: flex-end;
  flex-direction: row;
  justify-self: flex-end;
  color: #fff;
  margin-right: 35px;
}

span {
  font-size: 20px;
  cursor: pointer;
}

/* END Header Section */

/* BEGIN Headline Section */
.headline {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 590px;
  background: #1c1a19;
  background-image: url("../images/background-headline.png");
  background-repeat: no-repeat;
  background-position: 100% 115%;
}

.headline div {
  display: flex;
  flex-direction: column;
}

.presentation-title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 120px 24px 0 20px;
}

.headline div p br {
  display: none;
}

.what-i-do {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin: 12px 24px 0 20px;
}

.support-text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 12px 24px 0 20px;
}

.social-icons {
  margin-left: 24px;
  margin-top: 12px;
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

img {
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 10px 10px 0;
  list-style-type: none;
}

/* END Headline Section */

/* BEGIN Works Section */
.works-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 120px;
  align-items: center;
}

.works-title {
  width: 329px;
  margin-left: 24px;
  padding: 31px 0 31px 0;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.vector-works {
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 80px;
  width: 327px;
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}

.works-info-section {
  width: 100%;
  height: 3028px;
  align-items: center;
}

.multi-post-stories {
  width: 375px;
  height: 568px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.stories-image {
  width: 327px;
  height: 237px;
  margin-top: 0;
  margin-left: 24px;
}

.multi-post-title {
  margin-left: 24px;
  margin-top: 24px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
}

.support-text-multi-post {
  margin: 12px 24px 0 24px;
  justify-self: left;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.tags-container {
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  justify-items: left;
}

.tags-container .tag-title {
  padding: 10px 12px 10px 12px;
  color: #091e42;
  text-decoration: none;
  border: 1px solid #8993a4;
  height: 20px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.tags-container .tag-title a {
  color: #091e42;
  text-decoration: none;
}

.tag-cards-work-container .tag-title a {
  color: #fff;
  text-decoration: none;
}

.-see-project {
  margin-left: 24px;
  padding: 12px;
  width: 135px;
  height: 48px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-align: center;
  background: #ff6b00;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-see-project {
  margin-left: 24px;
  padding: 12px;
  width: 135px;
  height: 48px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: center;
  background: #ff6b00;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-see-project:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.button-see-project:active {
  background: #e05304;
  color: #fff;
}

.works-area-cards {
  margin-top: 24px;
  width: 375px;
  height: 2436px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.cards-work-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/cards-work-image.png");
  background-size: cover;
}

.cards-work-container > button {
  display: none;
}

.cards-work-container:hover > button {
  display: block;
  margin-top: 377px;
  width: 369px;
  height: 58px;
}

.cards-work-container:hover > h3,
.cards-work-container:hover > p,
.cards-work-container:hover > ul {
  display: none;
}

.cards-work-title {
  margin-top: 84px;
  margin-left: 24px;
  height: 81px;
  width: 295px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #fff;
}

.support-text-cards-work {
  margin-top: 12px;
  margin-left: 24px;
  height: 87px;
  width: 337px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
}

.tag-cards-work-container {
  width: 236px;
  height: 40px;
  margin-left: 24px;
  margin-top: 12px;
  margin-bottom: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tag-cards-work-container .tag-title {
  margin: 0 12px 0 0;
  padding: 10px 12px 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.button-cards-work {
  padding: 12px 113.5px 12px 113.5px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: #ff6b00;
  border: none;
  color: #fff;
  cursor: pointer;
}

.button-cards-work:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.button-cards-work:active {
  background: #e05304;
  color: #fff;
}

/* END Works Section */

/* BEGIN About Section */
.about-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1901px;
  background-color: #1c1a19;
  background-image: url("../images/illustration-about-me.png");
  background-repeat: no-repeat;
  background-position: 100% 22%;
}

.about-me-title {
  margin-top: 120px;
  margin-left: 24px;
  font-family: 'Crete Round', sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

.support-text-about-me {
  margin: 24px 24px 0 24px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #f4f5f7;
}

.button-about-me {
  height: 48px;
  margin-top: 24px;
  margin-left: 24px;
  padding: 12px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: left;
  background: #ff6b00;
  color: #fff;
  border: none;
}

.button-about-me:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.button-about-me:active {
  background: #e05304;
  color: #fff;
}

.vector-about-me {
  margin-left: 24px;
  margin-top: 209px;
  width: 327px;
  border: 1px solid #fff;
  background-color: #fff;
}

.skill-about-me-container {
  margin-left: 23px;
  margin-right: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: #fff;
}

.language-skill {
  margin-top: 128px;
  width: 225px;
  height: 281px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.frameworks-skill {
  margin-top: 32px;
  height: 336px;
  width: 281px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.skills-list {
  margin-top: 32px;
  height: 336px;
  width: 281px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tags-skills {
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
}

.card-skills-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lang-title {
  margin-left: 12px;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  align-self: center;
  text-align: center;
}

.card-skills-title .icons-skills-rectangle {
  width: 26px;
  height: 26px;
  align-self: center;
}

.card-skills-title .icons-skills-square {
  width: 20px;
  height: 20px;
  align-self: center;
  margin-right: 18px;
}

.card-skills-title .icons-skills-circle {
  width: 20px;
  height: 20px;
  align-self: center;
}

/* END About Section */

/* BEGIN Contact Form Section */
.contact-form-container {
  width: 375px;
  height: 884px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-form-mobile {
  margin: 58px 0 206px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  align-self: center;
}

.support-text-form-section {
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

input {
  width: 295px;
  height: 18px;
  border: 0;
  outline: none;
}

footer hr {
  width: 375px;
  height: 1px;
  background-color: #dfe1e6;
  border: none;
}

input[type="email"] {
  margin-top: 39px;
}

input[type="submit"] {
  width: 40%;
  height: 18%;
  margin-top: 24px;
  background-color: #ff6b00;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 12px;
}

input[type="submit"]:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

input[type="submit"]:active {
  background: #e05304;
  color: #fff;
}

.textarea_mobile {
  width: 327px;
  height: 115px;
  margin-top: 24px;
  padding: 12px;
  border: 0;
  font-family: Inter, sans-serif;
  background: #fbf8f7;
  outline: none;
}

/* END Contact Form Section */

/* BEGIN Footer Section */
.footer-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-nav {
  margin-top: 15px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-icons-desktop {
  width: 20px;
  height: 20px;
}

.home-indicator {
  margin-top: 13px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  #mobile-design {
    width: 100%;
    height: 4561px;
  }

  .menu {
    display: none;
  }

  .navlinks {
    display: flex;
    width: 300px;
    margin-right: 10%;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    align-items: center;
  }

  .links a {
    color: #fff;
    margin-right: 25px;
    text-decoration-line: none;
  }

  /* BEGIN Headline Section */
  .headline-desktop {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 798px;
    background: #1c1a19;
    background-image: url("/images/illustration-header.png");
    background-repeat: no-repeat;
    background-position: 100%;
  }

  .headline-info {
    width: 566px;
    height: 739px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .headline-info h2 {
    font-family: Inter, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    animation-name: text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .lateral-bar {
    width: 15%;
    display: flex;
    align-items: center;
    order: -1;
  }

  .social-icons {
    margin-left: 15px;
    margin-top: 279px;
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .support-text-desktop {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    margin: 12px 24px 0 20px;
    gap: 24px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  /* END Headline Section */

  /* BEGIN Work Section */
  .works-section-desktop {
    width: 100%;
    height: 1810px;
    display: flex;
    flex-direction: column;
  }

  .vector-works {
    display: none;
  }

  .works-head {
    margin-top: 135px;
    margin-bottom: 114px;
    display: flex;
    align-items: center;
  }

  .vector-works-desktop {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 794px;
    height: 0;
    border: 1px solid #212121;
  }

  .stories-desktop {
    width: 1154px;
    height: 448px;
    margin-left: 141px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
  }

  .stories-desktop img {
    width: 684px;
    height: 448px;
    margin-left: 0;
  }

  .stories-desktop div {
    height: 348px;
    width: 448px;
    left: 708px;
    top: 0;
    border-radius: 0;
  }

  .works-info-desktop {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .works-cards-desktop {
    margin-left: 141px;
    height: 907px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    align-items: center;
  }

  .cards-work-desktop {
    width: 369px;
    height: 435px;
  }

  .cards-work-container:hover {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    background-image: url("../images/img_card.png");
    background-size: cover;
  }

  .button-cards-work {
    margin-top: 49px;
  }

  /* END Work Section */

  /* BEGIN About Me Section */
  .about-section-desktop {
    width: 100%;
    height: 1195px;
    display: flex;
    flex-direction: column;
    background: #262626;
    background-image: url(../images/illustration-about-me_2.png);
    background-repeat: no-repeat;
    background-position: 100% 10%;
    margin-top: 8.12rem;
  }

  .about {
    width: 566px;
    height: 582px;
    margin-left: 142px;
  }

  .vector-desktop {
    margin-left: 24px;
    margin-top: 209px;
    width: 1000px;
    border: 1px solid #fff;
    background-color: #fff;
  }

  .about-skills-desktop {
    width: 1158px;
    height: 596px;
    display: flex;
    flex-direction: row;
    gap: 162px;
    align-items: flex-start;
  }

  .language-desktop {
    width: 290px;
    height: 282px;
    margin-top: 138px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .frameworks-desktop {
    width: 282px;
    height: 336px;
    margin-top: 138px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .skills-desktop {
    width: 282px;
    height: 336px;
    margin-top: 138px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .language-desktop ul li {
    text-align-last: justify;
  }

  .frameworks-desktop ul li {
    text-align-last: justify;
  }

  .skills-desktop ul li {
    text-align-last: justify;
  }

  /* END About Me Section */

  /* BEGIN Contact Form Section */
  .contact-form-mobile {
    display: none;
  }

  .contact-form-container {
    display: none;
  }

  .contact-form-desktop {
    width: 327px;
    height: 330px;
    margin-left: 24px;
    margin-bottom: 206px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    background-color: #fff;
    color: #262626;
  }

  .contact-container {
    width: 1163px;
    height: 590px;
    margin-top: 58px;
    display: flex;
    flex-direction: row;
  }

  .contact-form-desktop p {
    width: 455px;
    height: 256px;
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
  }

  input {
    width: 295px;
    height: 18px;
    border: 0;
    outline: none;
  }

  input[type='email'] {
    margin-top: 39px;
  }

  input[type='submit'] {
    margin-top: 24px;
    background-color: #f55800;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  textarea {
    margin-top: 24px;
    padding: 12px;
    border: 0;
    font-family: Inter, sans-serif;
    background: #fbf8f7;
    outline: 0;
  }

  .separator-line {
    margin-top: 14px;
    width: 684px;
    height: 1px;
    background: #dbd8d7;
    border: 0;
  }

  /* END Contact Form Section */

  /* BEGIN Footer Section */
  .home-indicator {
    display: none;
  }

  .footer-desktop {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer hr {
    width: 100%;
    height: 1px;
    background-color: #dfe1e6;
    border: none;
  }

  /* END Footer Section */
}
